.header--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    padding: 20px 30px;
}
.header--user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    
}
img {
    height: auto; 
    width: auto; 
    max-width: 80px; 
    max-height: 80px;
}