.searchbar {
    display: flex;
    flex-direction: column;
}
.searchbar .btn-group {
    padding-top: 10px;
    padding-left: 55px;
}

/* mobile view */
@media only screen and (min-width: 200px) and (max-width: 768px) {
    
}

/* tablet view */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    
}